body {
  font-family: Arial, sans-serif;
  background-color: #e2f4e8; /* fondo verde jade claro */
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.malla-fila {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.tabla-malla {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 15px;
}

.ciclo {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 130px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ciclo-header {
  background-color: #444;
  color: white;
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 18px;
}

.curso {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  color: #333;
  transition: transform 0.2s;
}

.curso:hover {
  transform: scale(1.05);
}

.admin {
  background-color: #b4e0e5; /* celeste bebé */
}

.marketing {
  background-color: #f78db7; /* rosa suave */
}

.aprobado {
  background-color: #fdf6ee !important; /* color hueso */
  font-weight: bold;
}

.bloqueado {
  opacity: 0.5;
  cursor: not-allowed;
}

.electivo {
  background-color: #dfaddf !important; /* lila pastel */
}
